.demo-layout-transparent {
  background: url('../img/background.jpg') center / cover;
}

.content{
  color: white;
  padding-top: 20%;
}

@media only screen and (min-width: 1100px){
  .content{
    color:white;
    padding-top: 5%;
  }
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #ff4081;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-top: 20%;
}

.button span {
  cursor: hover;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}