<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Landing Page for EE Capstone Group Spring/Fall 16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/img/favicon.ico">
    <title>EE Capstone Group</title>
    <link rel="stylesheet" href={{url_for('bower.static', filename='material-design-lite/material.min.css')}}>
    <link rel="stylesheet" href={{url_for('bower.static', filename='bootstrap/dist/css/bootstrap.min.css')}}>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body>
<!-- Uses a transparent header that draws on top of the layout's background -->


<div class="demo-layout-transparent mdl-layout mdl-js-layout" style="height:100%;width:100%;" >
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">EE Capstone Group</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">About</a>
        <a class="mdl-navigation__link" href="">People</a>
        <a class="mdl-navigation__link" href="{{url_for('calendar')}}">Calendar</a>
        <a class="mdl-navigation__link" href="">Contact</a>
        <a class="mdl-navigation__link" href="">Sign In</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">EE Capstone Group</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">About</a>
      <a class="mdl-navigation__link" href="">People</a>
      <a class="mdl-navigation__link" href="">Calendar</a>
      <a class="mdl-navigation__link" href="">Contact</a>
      <a class="mdl-navigation__link" href="">Sign In</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
  	<section class="content">
  		<div class="container">
			<center>
				<h1><b>Project</b></h1>
				<h3>Mobile Computing Audio Signal Processing and Detection with Machine Learning, Neural Networks, and Time/Frequency Analysis</h3>
				<br>
				<br>
				<h4>People: David Ramirez, John Robertson, Rashed Alneyadi, Riyan Setiadji<h2>
				<h4>Mentor: Dr. Andreas Spanias
				<br>
				<button class="button" style="vertical-align:middle"><span>More </span></button>
			</center>
		</div>
	<section>
  </main>
</div>
</body>
</html>
<script src={{url_for('bower.static', filename='material-design-lite/material.min.js') }}></script>
<script src= {{ url_for('bower.static', filename='jquery/dist/jquery.js') }}></script>
<script src= {{ url_for('bower.static', filename='bootstrap/dist/js/bootstrap.min.js') }}></script>


